---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{site.title}}</title>
  <meta name="description" content="{{site.description}}/">
  <meta name="author" content="{{site.author}}/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{{site.baseurl}}/lib/normalize.css">
  <link rel="stylesheet" href="{{site.baseurl}}/lib/skeleton.css">
  <link rel="icon" type="image/png" href="{{site.baseurl}}/img/favicon.png">
</head>
<body>
  {{ content }}
</body>
</html>
