---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{site.title}}</title>
  <meta name="description" content="{{site.description}}/">
  <meta name="author" content="{{site.author}}/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
  <link rel="icon" type="image/png" href="{{site.baseurl}}/img/favicon.png">
  <style type="text/css">
    #wrapper{
      height:100%;
      width:100%;
      position:absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;
      background-image:url(/img/logo.png);
      background-repeat:no-repeat;
      background-position:center;
    }
  </style>
</head>
<body>
  <div id="wrapper">
    {{ content }}
  </div>
</body>
</html>
